---
import { WavyBackground } from "@/components/WavyBackground"
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"
import forestImage from "../assets/forest.jpg"
---

<Layout title="Mjut - Where Silence Speaks.">
  <main
    class="relative h-screen w-screen overflow-hidden bg-cover bg-center"
    style={`background-image: url(${forestImage.src})`}
  >
    <!-- <WavyBackground client:load className="max-w-4xl mx-auto overflow-hidden"> -->
    <!-- <Image
      src={forestImage}
      alt="A bird sitting on a nest of eggs."
      class="w-full h-full object-cover"
    /> -->

    <div class="absolute inset-0 flex flex-col items-center justify-center">
      <h1
        class="text-7xl text-[#FFFFFF] font-bold text-center font-display uppercase"
      >
        mjut
      </h1>
    </div>

    <!-- </WavyBackground> -->
  </main>
</Layout>
