---
import { WavyBackground } from "@/components/WavyBackground"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Mjut - Where Silence Speaks.">
  <main>
    <WavyBackground client:load className="max-w-4xl mx-auto overflow-hidden">
      <h1
        class="text-7xl text-[#13151a] font-bold text-center font-display uppercase"
      >
        mjut
      </h1>
      <p
        class="text-base md:text-lg mt-4 text-[#13151a] font-normal uppercase text-center tracking-[.2em] font-display"
      >
        Stockholm
      </p>
    </WavyBackground>
  </main>
</Layout>
