---
import { WavyBackground } from "@/components/WavyBackground"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main>
    <WavyBackground client:load className="max-w-4xl mx-auto">
      <h1 class="text-7xl text-white font-bold text-center">mjut</h1>
      <p
        class="text-base md:text-lg mt-4 text-white font-normal uppercase text-center tracking-[.2em]"
      >
        Stockholm
      </p>
    </WavyBackground>
  </main>
</Layout>
